body{
    background-color: rgba(3, 12, 14, 0.137);
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    justify-content:center;
    margin: 50px 0px 100px 20px;
    height:fit-content;
}


img{
    height: 222px;
    width: 400px;
    margin-right: auto;
    margin-top: 8px;
    margin-bottom: 8px;
}
p,ol,ul{
    width: 550px;
    color: black;
}
h1,h2,h3,.section,.content{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(9, 9, 28);
}
.btn{
    font-size: 20px;
    width: 120px;
    height: 30px;
    display: block;
    text-decoration: none;
    color: black;
    background-color: whitesmoke;
    border: black 1px solid;
    border-radius: 5px;
    text-align: center;
    padding-top: 6px;
}

.flex-box1{
    width: 600px;
    height: 80px;
    background: rgb(247, 240, 240);
    text-align: center;
    border-radius: 5px;
}
.flex-box2{
    width: 400px;
    height: 350px;
    background: whitesmoke;
    justify-content: center;
    align-items:flex-start;
    border-radius: 5px;
}

.flex-box4{
    width: 600px;
    height: 450px;
    background: whitesmoke;
    justify-content: center;
    align-items:flex-start;
    border-radius: 5px;    
}
.flex-box5{
    width: 600px;
    height: 700px;
    background: whitesmoke;
    justify-content: center;
    align-items:flex-start;
    border-radius: 5px; 
}
.flex-container{

}